<main>
    <az-map [centerLat]="47.81730" [centerLng]="35.10063" [zoom]="12">
        <az-map-polyline
                [polylinePath]="'omubHwpkuEglCb`Ea~A~lEelCdPoa@glA|hDijB|o@uaB|iAakF~qCopA|r@|gA'"
                [strokeColor]="'navy'"
        ></az-map-polyline>

    </az-map>
    <br>
    <az-map [centerLat]="47.56" [centerLng]="30.58" [zoom]="8" [direction]="direction">
        <az-map-marker *ngFor="let coord of coords2" [latitude]="coord.lat" [longitude]="coord.lng"></az-map-marker>
    </az-map>
</main>
